.card-map{
    height: 80px;
    width: auto;
    padding: 3px;
    margin-left: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cxz{
   
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
  

  }
.zxc {
background-attachment: fixed;
margin-left: 70px;
}
.button{
  margin-top: 1rem;
  
}
.imag{
 width: 170px;
 height: 140px;


}
.yaz{

  display: flex;
  text-align: center;


}
.price{

  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}
.fiya{
  width: 80px;
  height: 30px;
  margin-top: 50px;
  padding-top: 3px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  margin-right: 20px;
  background-color: blue;
  color:aliceblue;
  border-radius: 20px;
}
.fiya huvor{
  cursor: pointer;
}
.fav{
  display: flex;
  justify-content: space-around;
}
.detail{
  width: 90px;
  height: 30px;
  background-color:blue;
  color: white;
  border-radius: 10px;
}