
.deta{

  border: 2px solid red;
 height: 100vh;
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
text-align: center;

}
.sa{
  display: flex;
  border: 2px solid black;
  height: 100vh;
  width: 50%;
  justify-content: center;

}

.so{
  display: flex;
  border: 2px solid black;
  height: 100vh;
  width: 50%;
}

